a {
  text-decoration: none;
}

/* Fonts */
@font-face {
  font-family: "YouDense-Bold";
  src: local("YouDense-Glass-BlowBold"),
    url("./fonts/YouDense-Glass-BlowBold.ttf") format("truetype");
}

@font-face {
  font-family: "YouDense-Regular";
  src: local("YouDense-Glass-BlowRegular"),
    url("./fonts/YouDense-Glass-BlowRegular.ttf") format("truetype");
}

/* Btns */
.btn-primary {
}

/* Hero + Header Component - seemless Background*/

.titleExperience {
  font-family: "Bodoni Moda", serif !important;
}

.custom-shape-divider-top-1662718655 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
/* Header Compoment */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
  margin: 0 40px 150px 0;
  padding-top: 40px;
  font-size: 20px;
}
