* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.app {
  background-color: #99f1ff;
  background-image: radial-gradient(
      at 95% 95%,
      hsla(8, 77%, 64%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 93% 88%, hsla(210, 75%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 47%, hsla(352, 95%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 87%, hsla(158, 61%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 66% 68%, hsla(102, 73%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 51% 34%, hsla(340, 72%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 57% 38%, hsla(256, 78%, 76%, 1) 0px, transparent 50%);

  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #414670;
  font-size: 18px;
  opacity: 0.75;
  cursor: pointer;
}

a:hover {
  opacity: 1;
}

/* Fonts */
@font-face {
  font-family: "YouDense-Bold";
  src: local("YouDense-Glass-BlowBold"),
    url("./fonts/YouDense-Glass-BlowBold.ttf") format("truetype");
}

@font-face {
  font-family: "YouDense-Regular";
  src: local("YouDense-Glass-BlowRegular"),
    url("./fonts/YouDense-Glass-BlowRegular.ttf") format("truetype");
}

/* Btns */
.btn-primary {
  margin: 1em 0 2em 0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border: none;
  color: white;
  background: none;
  opacity: 0.6;
  transition: 0.3s;
  font-family: "Spline Sans Mono", monospace;
}

.btn-primary:hover {
  opacity: 1;
  letter-spacing: 7px;
  font-family: "Spline Sans Mono", monospace;
}

/* Hero Component*/
.hero-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  font-size: 40px;
  font-family: "Spline Sans Mono", monospace;
  margin-top: 210px;
}

.titleExperience {
  font-family: "Bodoni Moda", serif !important;
  font-size: 88px;
}

/* Header Compoment */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
  margin: 0 40px 150px 0;
  padding-top: 40px;
  font-size: 20px;
}

/* Cursor Component  */
.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
}

/* About Me Component */
.aboutMeDiv {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.aboutMeTitel {
  font-size: 3em;
  font-family: "Spline Sans Mono", monospace;
  margin: 0 0 30px 10px;
  transition: transform 0.8s;
  text-shadow: 20px 20px 10px rgba(61, 60, 60, 0.5);
}

#aboutMeIcon {
  font-size: 5em;
  color: whitesmoke;
  transition: transform 0.01s;
}

#aboutMeIcon:hover {
  transform: scale(1.3);
}
.leftSide {
  height: 30rem;
  margin: 0 3.5em 0 5em;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.baristaDevImg {
  background: url(./images/thebaristadev.JPG);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* float: left;
  width: 1000px;
  height: 1000px;
  margin: 20px;
  shape-outside: circle();
  clip-path: circle(); */
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin: 0 40px 0 10px;
  padding: 6em;
  border: white solid 2px;
}

.whoIsTitel,
.whatIdoTitel {
  font-family: "Spline Sans Mono", monospace;
  color: rgb(64, 9, 79);
  font-size: 30px;
  margin-bottom: 8px;
}

.whatIdoTitel {
  margin-left: 80px;
}

.rightSide {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 30px;
  margin: 2.5em 5em 2.5em 5em;
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
  align-items: center;
  justify-items: center;
}

/* Projects Component */
.projectCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  font-family: "Spline Sans Mono", monospace;
  margin-top: 3rem;
}

.cards {
  margin: 1rem solid white;
  display: grid;
  flex-direction: column;
  height: 25rem;
  width: 18rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding: 3rem 2rem 2rem 2rem;
  border-radius: 30px;
  background: rgba(231, 219, 219, 0.327);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
}

.cards:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  position: relative;
  transition: all 0.25s ease-in-out 0s;
}

.imgCardBlog {
  background: url("./images/thebarista.dev.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 10rem;
  border-radius: 10px;
}

.imgCardMeme {
  background: url("./images/MemeYourself.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 10rem;
  border-radius: 10px;
}

.imgCardTodo {
  background: url("./images/todoing.png.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 10rem;
  border-radius: 10px;
}

.imgCardShop {
  background: url("./images/miAlmaCoffeeShop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 10rem;
  border-radius: 10px;
}

.readmore {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.readmore spanBtn {
  display: flex;
  align-items: center;
  padding-right: 5px;
}
.readmore spanBtn readMoreLink {
  text-decoration: none;
  color: black;
}

.btn {
  padding: 1rem;
  border-radius: 8px;
  border: none;
  font-family: "Spline Sans Mono", monospace;
  background: #414670;
  color: white;
}

.construction {
  background: none;
  background-image: url(./images/under-construction.png);
  background-size: contain;
  background-repeat: no-repeat;
}

/* Contact Component */
.containerContact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Spline Sans Mono", monospace;
  margin: 30px 30% 0 30%;
  padding: 2em 1em 2em 1em;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(229, 230, 235, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 30px;
  border: 3px solid white;
}

.contactMe {
  font-size: 3em;
  margin: 0 0 20px 10px;
  font-family: "Spline Sans Mono", monospace;
  color: rgb(64, 9, 79);
  transition: transform 0.8s;
  text-shadow: 20px 20px 10px rgba(14, 19, 93, 0.37);
}

.contactInput {
  margin: 0 0 15px 0;
  background: none;
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px white solid;
}

.contactInput:focus {
  border-bottom: 2px solid #414670;
}

label {
  color: white;
}

label:focus-within {
  color: #414670;
}

textarea {
  border: 2px solid white;
  border-radius: 5px;
  resize: none;
  outline: none;
  background: none;
  backdrop-filter: blur(1px);
}

textarea:focus-within {
  border: 2px solid#414670;
}

.sendBtn {
  margin-top: 15px;
  border: 2px solid white;
  background: none;
  color: white;
  font-family: "Spline Sans Mono", monospace;
  border-radius: 30px;
  padding: 13px;
  text-align: center;
  transition: all 0.4s;
  cursor: pointer;
}

.sendBtn:hover {
  color: #414670;
  border: 2px solid #414670;
}

/* Footer Component */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  margin: 50px auto 500px auto;
  height: 500px;
}

#iconFooter {
  width: 10px;
  height: 10px;
  font-size: 35px;
}

/* Media queries */
@media screen and (min-width: 1900px) {
}
@media screen and (min-width: 1600px) {
}
@media screen and (min-width: 1501px) {
  /* Extra large devices (large desktops, 1200px and up) */
}

@media screen and (max-width: 1500px) {
  /*Tablets [601px -> 1200px]*/
}

@media screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
}

@media screen and (max-width: 1000px) {
  /*Tablets [601px -> 1200px]*/
}

@media screen and (max-width: 800px) {
  /*Tablets [601px -> 1200px]*/
}

@media screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
}

@media screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}

@media screen and (max-width: 320px) {
  /*Small smartphones [325px -> 425px]*/
}
