* {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.app {
  /* background: #f3904f;
  background: -webkit-linear-gradient(to right, #3b4371, #f3904f);
  background: linear-gradient(to right, #3b4371, #f3904f); */

  /* second mesh gradient */
  /* background-color: #99f1ff;
  background-image: radial-gradient(
      at 95% 95%,
      hsla(66, 77%, 64%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 93% 88%, hsla(268, 75%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 47%, hsla(50, 95%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 87%, hsla(216, 61%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 66% 68%, hsla(160, 73%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 51% 34%, hsla(38, 72%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 57% 38%, hsla(314, 78%, 76%, 1) 0px, transparent 50%); */

  background-color: #99f1ff;
  background-image: radial-gradient(
      at 95% 95%,
      hsla(8, 77%, 64%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 93% 88%, hsla(210, 75%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 47%, hsla(352, 95%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 87%, hsla(158, 61%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 66% 68%, hsla(102, 73%, 63%, 1) 0px, transparent 50%),
    radial-gradient(at 51% 34%, hsla(340, 72%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 57% 38%, hsla(256, 78%, 76%, 1) 0px, transparent 50%);

  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #414670;
  font-size: 18px;
  opacity: 0.75;
}

a:hover {
  opacity: 1;
}

/* Fonts */
@font-face {
  font-family: "YouDense-Bold";
  src: local("YouDense-Glass-BlowBold"),
    url("./fonts/YouDense-Glass-BlowBold.ttf") format("truetype");
}

@font-face {
  font-family: "YouDense-Regular";
  src: local("YouDense-Glass-BlowRegular"),
    url("./fonts/YouDense-Glass-BlowRegular.ttf") format("truetype");
}

/* Btns */
.btn-primary {
  margin: 1em 0 2em 0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border: none;
  color: white;
  background: none;
  opacity: 0.6;
  transition: 0.3s;
  font-family: "Spline Sans Mono", monospace;
}

.btn-primary:hover {
  opacity: 1;
  letter-spacing: 7px;
  font-family: "Spline Sans Mono", monospace;
}

/* Hero Component*/
.hero-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  font-size: 40px;
  font-family: "Spline Sans Mono", monospace;
  margin-top: 210px;
}

.titleExperience {
  font-family: "Bodoni Moda", serif !important;
  font-size: 88px;
}

/* Header Compoment */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 40px;
  margin: 0 40px 150px 0;
  padding-top: 40px;
  font-size: 20px;
}

/* Cursor Component  */
.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
}

/* About Me Component */
.aboutMeDiv {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.aboutMeTitel {
  font-size: 4em;
  font-family: "Spline Sans Mono", monospace;
  margin: 0 0 30px 10px;
  transition: transform 0.8s;
  text-shadow: 20px 20px 10px rgba(61, 60, 60, 0.5);
}

#aboutMeIcon {
  font-size: 5em;
  color: whitesmoke;
  transition: transform 0.01s;
}

#aboutMeIcon:hover {
  transform: scale(1.3);
}
.leftSide {
  /* background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 30px; */
  width: 50%;
  height: 40rem;
  margin: 0 3.5em 0 5em;
  padding: 50px;
}

.rightSide {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 30px;
  width: 50%;
  margin: 0 5em 0 2.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 10px;
  align-items: center;
  justify-items: center;
}

/* Contact Component */
.containerContact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Spline Sans Mono", monospace;
  margin: 30px 30% 0 30%;
  padding: 3em 1em 3em 1em;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 30px;
}

.contactMe {
  font-size: 3em;
  margin: 0 0 20px 10px;
  font-family: "Spline Sans Mono", monospace;
  transition: transform 0.8s;
  text-shadow: 20px 20px 10px rgba(61, 60, 60, 0.5);
}

/* Footer Component */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  margin: 33px auto 0 auto;
}

#iconFooter {
  width: 10px;
  height: 10px;
  font-size: 35px;
}

/* Retro styled cards for the display of the project section  */
/* .card {
  width: 190px;
  height: 254px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 0;
  box-shadow: 15px 15px 0 -2.5px #fff, 15px 15px 0 0 #000;
} */
